body{
    color:#818181;
    font:300 1.2rem/1.45 'Dosis', 'Arial', 'Helvetica', sans-serif 
} 
h1, h2, h3,
.position{
    color:#202127
}
.position{
    font-weight:400
}
/* Header */
header a.navbar-brand{
    font:400 1.8rem/1.4 'Dosis', 'Arial', 'Helvetica', sans-serif
}
header .menu{
    font-weight: 400;
    text-transfrom:lowercase;
}
header .dropdown-menu{
    left:auto;
    right:0
}
