<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-status-bar-style" content="">
    {% block head %}{% endblock %}
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">EDUS</a>
        <div class="menu navbar-collapse collapse justify-content-center ml-md-n5" id="navbarNav">
          <ul class="navbar-nav text-center ml-md-n4">
            <li class="nav-item active">
              <a class="nav-link px-md-3" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-md-3" href="{% url 'courses' %}">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-md-3" href="{% url 'teachers:teachers' %}">Teachers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-md-3" href="#">Contact</a>
            </li>
          </ul>
        </div>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        {% block editor_buttons %}{% endblock%}
        <div class="login col-md-auto d-none d-md-block">
            Hi, {{ user.username }}
        </div>
        {% endif %}
        <div class="dropdown">
            <button class="btn navbar-nav login dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="bi bi-person-circle" width="2.2em" height="2.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <span class="dropdown-item">Hi, {{ request.user.username }}</span>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
      </nav>
    </header>
    <main id="main">
      {% block content%}{% endblock %}
    </main>
    <footer>
      <div class="container-fluid p-md-5">
        <div class="row py-5">
          <div class="col-md-4 col-sm-12">
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
