{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Welcome to EDUS application platform{% endblock %}
{% block content %}
  <section id="main">
    <div class="container py-5">
        <div class="row pt-5 pb-2"><div class="col text-center"><h1>Welcome to EDUS</h1></div></div>
        <div class="row pb-2"><div class="col text-center"><h2>Сoming Сourses</h2></div></div>
        <div class="row pt-2 pb-3 justify-content-center">
            <div class="col py-5">
                {% for course in courses %}
                    <div class="row mb-5">
                        <div class="col-lg-4 col-sm-12">
                        {% thumbnail course.courses.logo '220x180' as im %}
                        <a href="{{ course.courses.get_absolute_url }}"><img class="img-fluid mb-3" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ course.courses.name }}" /></a>
                        {% endthumbnail %}
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <h3>{{ course.courses.name }}</h3>
                            <div class="description">{{ course.courses.description|truncatewords_html:64|safe }}</div>
                            <div class="date"><small><strong>{{ course.date_start|date:'F j, Y' }} - {{ course.date_end|date:'F j, Y' }}</strong></small></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </section>
{% endblock %}
