{% extends 'base.html' %}
{% block title %}Login Form{% endblock %}
{% block content %}
  <section id="login">
    <div class="container py-5">
        <div class="row pt-5 pb-2 justify-content-center"><div class="col-lg-8 col-sm-12"><h1>Login Form</h1></div></div>
        <div class="row pt-2 pb-3 justify-content-center ">
            <div class="col-lg-8 col-sm-12 py-5">
                <form id="form" method="POST">
                {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                    {% csrf_token %}
                    <button form="form" class="btn btn-success mt-3 mr-1" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
  </section>
{% endblock %}
 
 
