{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Courses in EDUS{% endblock %}
{% block editor_buttons %}
<a href="{% url 'course_add' %}"><button class="btn btn-success" type="button">Add</button></a>
{% endblock %}
{% block content %}
  <section id="courses">
    <div class="container mt-5 pt-3 pb-2">
      <div class="row mt-5 pt-3 pb-2">
      <div class="card-deck px-3">
        {% for course in courses %}
        <div class="card text-center px-0 pb-2">
            {% thumbnail course.logo '220x180' as im %}
            <a href="{{ course.get_absolute_url }}"><img class="img-fluid mb-3" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ course.name }}" /></a>
            {% endthumbnail %}
            <div class="name">{{ course.name }}</div>
        </div>
        {% endfor %}
    </div>
      </div>
    </div>
  </section>
{% endblock %}
